In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('./data/ecommerce_dataset_updated.csv')
df.head(5)

,User_ID,Product_ID,Category,Price (Rs.),Discount (%),Final_Price(Rs.),Payment_Method,Purchase_Date
0,337c166f,f414122f-e,Sports,36.53,15,31.05,Net Banking,12-11-2024
1,d38a19bf,fde50f9c-5,Clothing,232.79,20,186.23,Net Banking,09-02-2024
2,d7f5f0b0,0d96fc90-3,Sports,317.02,25,237.76,Credit Card,01-09-2024
3,395d4994,964fc44b-d,Toys,173.19,25,129.89,UPI,01-04-2024
4,a83c145c,d70e2fc6-e,Beauty,244.80,20,195.84,Net Banking,27-09-2024

In [28]:
df.shape

(3660, 8)

In [29]:
df.describe()

       Price (Rs.)  Discount (%)  Final_Price(Rs.)
count  3659.000000   3660.000000       3657.000000
mean    254.815034     18.825137        206.894865
std     141.699323     14.731338        122.701040
min      10.090000      0.000000          5.890000
25%     133.985000      5.000000        104.490000
50%     253.960000     15.000000        199.200000
75%     377.640000     25.000000        304.090000
max     499.960000     50.000000        496.820000

In [30]:
df.dtypes

User_ID              object
Product_ID           object
Category             object
Price (Rs.)         float64
Discount (%)          int64
Final_Price(Rs.)    float64
Payment_Method       object
Purchase_Date        object
dtype: object

In [31]:
df.isnull().sum()

User_ID             0
Product_ID          0
Category            0
Price (Rs.)         1
Discount (%)        0
Final_Price(Rs.)    3
Payment_Method      0
Purchase_Date       0
dtype: int64